@import url(destyle.css);
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BIZ UDMincho', serif;
}

header {
  color: #fff;
  background-color: #1abc9c;
  background-image: url(https://picsum.photos/1200/300);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  font-weight: bolder;
}

@media (min-width: 600px) {
  header {
    padding: 50px 30px;
  }

  header h1 {
    font-size: 1.5rem;
  }
}
