@import url(destyle.css);

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #eee;
  margin-bottom: 20px;
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}

.item img {
  flex-basis: 50%;
}

.item__content {
  padding: 20px;
  flex-basis: 50%;
}

@media (max-width: 600px) {
  .item {
    flex-direction: column !important;
    align-items: stretch;
  }
}
